@{
    ViewData["Title"] = "About Us"; <!--page title-->
}
<h1>@ViewData["Title"]</h1>

<p>Here at Eliksi Purses we are a small team of fashion designers looking to innovate the fashion of the 21st century</p>
<p>Based in London England we released our first Purse in 2019 "Sir Bartholomew's trusty Shoulder Bag" to immense success and praise by high end critics and icons in the industry; we will continue to create specialty purses and reimage fashion in our vision</p>
<img src="~/Images/bag.jpg" /> <!--add image to view-->