@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Eliksi Purses</h1> <!--company name-->
    <p><strong>Welcome, we sell purses!</strong></p>
    <img src="~/Images/handbag.jpg" /> <!--page title-->
</div>
