@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We will not share any of your data with anyone outside of our company.</p> <!--not sure what typically goes on privacy pages-->
<p>Your data may be used to market items to your needs for a better shopping experience </p>